[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
Django = "<5.0"
gunicorn = "*"

[dev-packages]
flake8 = "*"
flake8-django = "*"
pep8-naming = "*"
flake8-isort = "*"
black = "*"
tox = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
