{% extends "subpage.html" %}

{% load static %}

{% block js %}
<script>

document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: document.documentElement.clientWidth < 765 ? 'listMonth' : 'dayGridMonth',
        aspectRatio: document.documentElement.clientWidth < 765 ? 0.8 : 1.35,
        googleCalendarApiKey: "AIzaSyDmW8ZeKftNzgpFFk38vPNLLJworRO8Gsw",
        eventDidMount: function(info) {
            info.el.setAttribute("data-bs-toggle", "tooltip");
            info.el.setAttribute("title", info.event.title + "</br></br>" + info.event.extendedProps.description);
            var tooltip = new bootstrap.Tooltip(info.el, {html: true});
        },
        events: {
            googleCalendarId: "c_nhgcso8eeese2n4j9m5cc3hiug@group.calendar.google.com",
            className: 'gcal-event',
        },
        eventTimeFormat: {
            hour: '2-digit',
            minute: '2-digit',
            hour12: false,
        }
    });
    calendar.render();
});
    </script>
{% endblock js %}

{% block content %}
        <section id="section-about" class="py-5 px-3">
            <div class="container">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <p>
                    The Common Room is the community room for both AEGEE-Eindhoven and Cosmos.
                    We strive to keep it open during most academic days to provide a friendly space for everyone.
                    We have a kitchen for cooking, available all day.
                    Beyond that we also have barstools, tables and couches, creating a space for people to chill and talk together.
                    Furthermore, we have a projector with speakers and several board, card and computer games. 
                    We hope to see you around!
                </p>
            </div>
        </section>
        <section id="section-reservation" class="section-bg py-5 px-3">
            <div class="container">
                <div class="section-title">
                    <h2>Reservation</h2>
                </div>
                <p>
                    The Common Room can be booked by any association for students that wants to host an event.
                    Events can make use of our facilities, such as a beamer, dining tables and a kitchen.
                    To make sure we can facilitate everything we only accept reservation requests made 7 days in advance.
                </p>
                <p>
                    For reservation of the Common Room, you can fill in the <a href="{% static 'commonroom/pdf/Booking Request Form.pdf' %}">reservation form</a> and send it to <a href="mailto:info@commonroom.nl">info@commonroom.nl.</a>
                    Please make sure to have read the <a href="{% static 'commonroom/pdf/Common Room Regulations Externals.pdf' %}">Common Room regulations</a> before submitting your form.
                    Know that the Common Room is kept open by volunteers and we may not be able to keep the room open at all times!
                    Booking the common room costs €4 per hour.
                </p>
            </div>
        </section>
        <section id="section-calendar" class="py-5 px-3">
            <div class="container">
                <div class="section-title">
                    <h2>Calendar</h2>
                </div>
                <div id="calendar"></div>
                <p>
                    To add the commonroom calendar to your own calendar use <a href="https://calendar.google.com/calendar/embed?src=c_nhgcso8eeese2n4j9m5cc3hiug%40group.calendar.google.com&ctz=Europe%2FAmsterdam">this link</a>.
                </p>
            </div>
        </section>
{% endblock content %}