{% extends "subpage.html" %}

{% load static %}

{% block js %}
<script>

document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: document.documentElement.clientWidth < 765 ? 'listMonth' : 'dayGridMonth',
        aspectRatio: document.documentElement.clientWidth < 765 ? 0.8 : 1.35,
        googleCalendarApiKey: "AIzaSyDmW8ZeKftNzgpFFk38vPNLLJworRO8Gsw",
        eventDidMount: function(info) {
            info.el.setAttribute("data-bs-toggle", "tooltip");
            info.el.setAttribute("title", info.event.title + "</br></br>" + info.event.extendedProps.description);
            var tooltip = new bootstrap.Tooltip(info.el, {html: true});
        },
        events: {
            googleCalendarId: "c_nhgcso8eeese2n4j9m5cc3hiug@group.calendar.google.com",
            className: 'gcal-event',
        },
        eventTimeFormat: {
            hour: '2-digit',
            minute: '2-digit',
            hour12: false,
        }
    });
    calendar.render();
});
    </script>
{% endblock js %}

{% block content %}
        <section id="section-about" class="py-5 px-3">
            <div class="container">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <p>
                    The Common Room is the community room for both AEGEE-Eindhoven and Cosmos.
                    We strive to keep it open during most academic days to provide a friendly space for everyone.
                    We have a kitchen for cooking, available all day.
                    Beyond that we also have barstools, tables and couches, creating a space for people to chill and talk together.
                    Furthermore, we have a projector with speakers and several board, card and computer games. 
                    We hope to see you around!
                </p>
                <p>
                    The Common Room is managed by the Common Room Committee, we are a group of volunteers that make sure the room is looked after and cared for.
                </p>
                <figure class="figure mx-auto d-block" style="max-width: 50%">
                    <img src="{% static 'commonroom/img/GroupFotoCRCom.jpg' %}" class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption">from left to right, Geert Hansma (AEGEE board member), Anton Ionov (Treasurer), Coen (Chair), Eduardo Costa Martins (Secretary) and Tudor Macovei (Cosmos board member)</figcaption>
                </figure>
            </div>
        </section>
        <section id="section-calendar" class="section-bg py-5 px-3">
            <div class="container">
                <div class="section-title">
                    <h2>Calendar</h2>
                </div>
                <div id="calendar"></div>
                <p>
                    To add the commonroom calendar to your own calendar use <a href="https://calendar.google.com/calendar/embed?src=c_nhgcso8eeese2n4j9m5cc3hiug%40group.calendar.google.com&ctz=Europe%2FAmsterdam">this link</a>.
                </p>
            </div>
        </section>
        <section id="section-reservation" class="py-5 px-3">
            <div class="container">
                <div class="section-title">
                    <h2>Reservation</h2>
                </div>
                <p>
                    The Common Room can be booked by any association that wants to host an event.
                    Events can make use of our facilities, such as a projector, dining tables and a kitchen.
                    To make sure we can facilitate everything we only accept reservation requests made 7 days in advance.
                </p>
                <p>
                    For reservation of the Common Room, you can fill in the <a href="{% static 'commonroom/pdf/Booking Request Form.pdf' %}">reservation form</a> and send it to <a href="mailto:info@commonroom.nl">info@commonroom.nl.</a>
                    Please make sure to have read the <a href="{% static 'commonroom/pdf/CR Regulations 2023 Abridged.pdf' %}">Common Room regulations</a> before submitting your form.
                    The Common Room is run and overseen by volunteers. A volunteer needs to be present to keep the Common Room open and we may not always be available.
                </p>
            </div>
        </section>
{% endblock content %}